.home {
  position: relative;
  height: 100vh;
  background: url('../Cover.png') no-repeat center center fixed;
  background-size: cover;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tagline {
  font-size: 1.5rem;
  color: #61dafb;
}

h1 {
  font-size: 3rem;
  color: white;
}

.wrap {
  display: inline-block;
  padding-left: 10px;
  animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

button svg {
  margin-left: 10px;
}
